fastapi==0.115.6
uvicorn[standard]==0.34.0

numpy==1.26.4
scipy==1.13.1
networkx==3.3

python-multipart==0.0.20
python-dotenv==1.0.1

pydantic==2.10.4

shapely==2.0.6
geopandas==1.0.1
rasterio==1.4.3
fastapi==0.115.6
uvicorn[standard]==0.34.0

numpy==1.26.4
scipy==1.13.1
networkx==3.3

python-multipart==0.0.20
python-dotenv==1.0.1

pydantic==2.10.4

shapely==2.0.6
geopandas==1.0.1
rasterio==1.4.3
